:root {
  --color-brand: #e01d3f;
  --font: 'aktiv-grotesk', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  color: var(--color-brand);
  font-size: 20px;
  border-bottom: 4px solid var(--color-brand);
  font-family: var(--font);
}

.App-header img {
  width: 200px;
}

.App-body {
  margin: 40px;
  text-align: left;
  font-family: var(--font);
  font-size: 15px;
}

.App-footer {
  border-top: 4px solid var(--color-brand);
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  font-family: var(--font);
  font-style: italic;
}