:root {
  --color-brand: #e01d3f;
  --color-blue: blue;
  --color-red: red;
}

.Notifications {
  padding: 40px;
  border: 1px dotted var(--color-brand);
}

.Notifications ul li {
  margin: 2px;
  color: var(--color-red);
}

.Notifications [data-notification-type="default"] {
  color: var(--color-blue);
}

.Notifications [data-notification-type="urgent"] {
  color: var(--color-red);
}